body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizespeed;

	line-height: 1.5;
}

.nav {
	border-radius: 5px;
	background-color:#fcfaff;
	grid-area: nav;
}

/*.item {*/
/*	border: 1px solid #F2F2F2;*/
/*}*/

.item:hover {
	background-color: #FFF;
}

.link {
	display: block;

	padding: 20px;

	text-decoration: none;

	color: #0E0E0E;
}

.active {
	color: blueviolet;
}
