.nav {
    grid-area: nav;
    background-color: #f2f2f2;
    border-radius: 5px;
    height: 80vh;

}

.item {
    border: 1px solid #f2f2f2;
}
.item:hover {
    background-color: white;
}
.link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #0e0e0e;

}
.active {
    color: blueviolet;
}