body {
	color: #442D47;
	background-color: #FCFAFF;
}

.app-wrapper {
	display: grid;

	max-width: 1440px;
	margin: 0 auto;
	grid-template-areas: "nav containt";
	grid-auto-columns: 2fr 10fr;
	grid-gap: 10px;
}
