.dialogs {
	grid-area: containt;

	display: grid;
	grid-template-areas: "dialogs messages";
	grid-template-columns: 2fr 10fr;
	grid-gap: 20px;

	border-radius: 5px;
}

.dialogs_items {
	grid-area: dialogs;

	background-color: #F2F2F2;
}

.dialog {
	border: 1px solid #F2F2F2;
}

.dialog:hover {
	background-color: white;
}

.dialog_link {
	display: block;

	padding: 20px;

	text-decoration: none;

	color: #0E0E0E;
}

.messages {
	padding: 20px;

	background-color: #F2F2F2;
	grid-area: messages;
}

.message {

}

.active {
	color: blueviolet;
}
